name: Production Deploy on EBS

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS }}
          aws-region: ap-south-1

      - name: Install EB CLI
        run: |
          pip install awsebcli --upgrade --user
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: EB Init
        run: |
          eb init go_ecommerce_app \
            --platform "Go 1 running on 64bit Amazon Linux 2023" \
            --region ap-south-1

      - name: Deploy on Elastic Beanstalk
        run: |
          eb deploy Goecommerceapp-env
